[
    { 
        "name": "SAPISID", 
        "value": "" 
    },

    { 
        "name": "APISID", 
        "value": "" 
    },
    { 
        "name": "HSID", 
        "value": "" 
    },
    {
      "name": "SID",
      "value": ""
    }
]